<main>
  <header class="brand-name">
    <a [routerLink]="['/']">
      <img
        class="brand-logo"
        src="/assets/house.png"
        alt="logo"
        aria-hidden="true"
      />
      <p>SApartment</p>
    </a>

    <form action="">
      <input
        type="text"
        (focus)="isResultsVisible = true"
        (blur)="isResultsVisible = false"
        placeholder="Search location"
        #filter
        (input)="onSearch($event)"
      />
      <div class="results-panel" [ngClass]="{ visible: isResultsVisible }">
        @if (filter.value === '') { No results } @else {

        <app-location
          *ngFor="let location of citiesListQueries"
          [location]="location"
        ></app-location>
        }
      </div>
      <button
        class="primary"
        type="button"
        (click)="filterResults(filter.value)"
      >
        Search
      </button>
    </form>

    <div class="navigation-bar">
      <ul>
        <a [routerLink]="['/']"><li>Home</li></a>
        <a [routerLink]="['/explore']"><li>Explore</li></a>
        <a [routerLink]="['/favorite']"><li>Favorite</li></a>
        <a [routerLink]="['/admin/dashboard']"><li>Admin</li></a>
      </ul>
    </div>
  </header>

  <section class="content">
    <router-outlet></router-outlet>
  </section>
</main>
