/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also 
import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Satisfy&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  box-sizing: border-box;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
}
:root {
  --primary-color: #133e87;
  --secondary-color: #608bc1;
  --accent-color: #cbdceb;
  --shadow-color: #f3f3e0;
  --background-color: #f8f8f8;
  --grey-color: #B7B7B7;
}

button.primary {
  padding: 10px;
  border: solid 1px var(--primary-color);
  background: var(--primary-color);
  color: white;
  border-radius: 8px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
